{
  "presets": ["es2015"],
  "plugins": [
    "babel-plugin-add-module-exports",
    "transform-runtime",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
