{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true,
    "require": true
  },
  "extends": ["plugin:prettier/recommended", "problems"],
  "rules": {
    "no-buffer-constructor": "off",
    "no-console": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  }
}
