registry=http://nexus.alphapoint.com:8087/repository/npm-group/
//nexus.alphapoint.com:8087/repository/npm-group/:_authToken=0c574d5e-cedf-3728-b21a-459824df4226
//nexus.alphapoint.com:8087/repository/npm-private/:_authToken=0c574d5e-cedf-3728-b21a-459824df4226
always-auth=true