registry=http://nexus.alphapoint.com:8087/repository/npm-group/
//nexus.alphapoint.com:8087/repository/npm-group/:_authToken=NpmToken.52054477-8d64-391a-ab68-09b222005524
//nexus.alphapoint.com:8087/repository/npm-private/:_authToken=NpmToken.52054477-8d64-391a-ab68-09b222005524
always-auth=true