language: node_js

notifications:
  email:
    - josh.rossi@alphapoint.com

install:
  - npm install

script:
  - npm run build

deploy:
  provider: npm
  email: "josh.rossi@alphapoint.com"
  api_key: "NpmToken.52054477-8d64-391a-ab68-09b222005524"